.slick-slider .slick-track,
.slick-slider .slick-list {
  overflow: visible !important;
} /* slick  */
.slick-dots li button:before {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background: white !important;
  content: " " !important;
  opacity: 0.6 !important;
  color: white !important;
}
.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #e1e1e1 !important;
}
